{% import "macros.html" as macros %}
{% import "content.html" as content %}

<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>

      {{ macros::header() }}

      <section id="about">
        {{ content::about() }}
      </section>

      <section id="education">
        {{ content::education() }}
      </section>

      <section id="experience">
        {{ content::experience() }}
      </section>

      <section id="stack">
        {{ content::stack() }}
      </section>

      <section id="contribution">
        {{ content::contribution() }}
      </section>

      <section id="publications">
        {{ content::publications() }}
      </section>

      {% block content %}
      <p></p>
      {% endblock content %}


      {{ macros::footer() }}
      {{ macros::google_analytics() }}

  </body>
